.total-myth-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  padding: 15px 0;
  justify-items: center;
  background-color: #e6e2db;
  min-height: 85vh;
}

.myth-display {
  display: flex;
  flex-direction: column;
  background-color: #f4f1ec;
  border: 2px solid #3a2f2a;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 1rem;
}

.myth-major-god {
  padding: 5px;
  text-align: center;
  border-bottom: 2px solid #3a2f2a;
}

.myth-other-gods-display {
  text-align: center;
  font-size: 1rem;
  border-bottom: 2px solid #3a2f2a;
}

.myth-symbols-display {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5px;
  font-style: italic;
  align-items: stretch;
  justify-items: stretch;
  padding: 5px;
}

.myth-symbols-display-individual {
  gap: 5px;
  padding: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.myth-name {
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 0.9rem;
}

.myth-manuscript-div {
  text-align: center;
  margin: 5px;
  font-size: 1rem;
  border-bottom: 2px solid #3a2f2a;
}

.myth-manuscript-name {
  font-style: italic;
}

.myth-monsters-div {
  margin: 10px 0;
  padding: 5px;
  box-sizing: border-box;
}

.myth-monster-intro {
  text-align: center;
  font-size: 1rem;
}

.myth-monsters-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
}

.myth-monsters-cell {
  text-align: center;
  border: 1px solid #3a2f2a;
  background-color: #d8e6e6;
  padding: 5px;
}

.myth-representation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.myth-representation-img {
  width: 100%;
  max-width: 300px;
  height: auto;
}

@media (min-width: 480px) {
  .myth-symbols-display {
    grid-template-columns: repeat(2, 1fr);
  }

  .myth-monsters-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .total-myth-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px 0;
  }

  .myth-symbols-display {
    grid-template-columns: repeat(3, 1fr);
  }

  .myth-monsters-grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .myth-display {
    font-size: 1.2rem;
    padding: 20px;
  }

  .myth-other-gods-display,
  .myth-major-god,
  .myth-manuscript-div,
  .myth-monster-intro {
    font-size: 1.2rem;
  }
}

@media (min-width: 1024px) {
  .total-myth-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}