.pantheon-main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 1rem auto;
  background-color: #f3f3f3;
  border-left: 4px solid #00312c;
  border-right: 4px solid #00312c;
}

.pantheon-main-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.pantheon-major-god-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

.pantheon-major-god-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.pantheon-major-god-desc {
  text-align: center;
  line-height: 1.4;
  font-size: 1rem;
  margin: 0 1rem;
}

.pantheon-major-god-portrait {
  width: 90%;
  max-width: 300px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin: 0 auto;
}

.pantheon-other-gods-display {
  padding: 10px;
  margin: 10px 0;
}

.pantheon-other-god-presentation {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 1.5rem;
}

.pantheon-other-god-name {
  font-size: 1.2rem;
  text-align: center;
}

.pantheon-other-god-info {
  margin: 1rem 0;
}

.pantheon-other-god-desc {
  text-align: center;
  line-height: 1.4;
  font-size: 1rem;
}

.pantheon-other-god-symbol-title {
  text-align: center;
  font-size: 1rem;
}

.pantheon-other-god-presentation-visual {
  text-align: center;
}

.pantheon-other-god-portrait {
  border-radius: 8px;
  width: 150px;
  height: auto;
  margin: 0.5rem auto;
  object-fit: cover;
}

.pantheon-symbols-display {
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
  margin: 5px;
  font-style: italic;
  align-items: stretch;
  justify-items: stretch;
  padding: 5px;
}

.pantheon-symbols-display-individual {
  border: 2px solid #0b110e;
  background-color: #d3d3d3;
  gap: 5px;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}

.pantheon-manuscript-display {
  text-align: center;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #a9f1ea;
  border: 2px solid rgb(0, 49, 47);
  font-size: 1rem;
  padding: 0.5rem;
  width: 90%;
}

.pantheon-manuscript-name,
.pantheon-manuscript-desc {
  width: 90%;
  margin: 0.5rem 0;
}

.pantheon-facts {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1rem;
  gap: 0.5rem;
}

.pantheon-monsters-div {
  border: 2px solid #2d311c;
  margin: 10px 0;
  padding: 5px;
  background-color: #ebcca4;
  box-sizing: border-box;
}

.pantheon-monsters-cell {
  text-align: center;
  border: 1px solid #663838;
  background-color: rgb(247, 162, 162);
  padding: 5px;
}

.pantheon-tales-div {
  border: 2px solid #411a1a;
  padding: 5px;
  margin: 10px 0;
  background-color: #f7c9c9;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .pantheon-major-god-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
  }

  .pantheon-major-god-desc {
    text-align: center;
    font-size: 1.5rem;
    margin: 0;
    margin-top: 5rem;
  }

  .pantheon-major-god-portrait {
    width: 100%;
    max-width: 400px;
    height: 400px;
    margin: 0;
    justify-self: center;
  }

  .pantheon-other-god-presentation {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
  }

  .pantheon-other-god-info {
    margin-top: 7rem;
    margin-bottom: 1rem;
  }

  .pantheon-other-god-symbol-title {
    font-size: 1.2rem;
  }

  .pantheon-symbols-display {
    grid-template-columns: repeat(3, 1fr);
  }

  .pantheon-symbols-display-individual {
    font-size: 1.2rem;
  }

  .pantheon-manuscript-display {
    width: 70%;
  }

  .pantheon-manuscript-name,
  .pantheon-manuscript-desc {
    width: 100%;
    font-size: 1.1rem;
  }

  .pantheon-facts {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }

  .pantheon-other-god-portrait {
    max-width: 350px;
    min-width: 300px;
    max-height: 300px;
    height: auto;
  }
}
