.about-us-main {
  width: 90%;
  margin: 1rem auto;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.about-us-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.about-us-section {
  margin-bottom: 0.8rem;
}

.about-us-text {
  margin: 0;
}

@media (min-width: 768px) {
  .about-us-main {
    max-width: 700px;
    margin: 0 auto;
  }

  .about-us-title {
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }

  .about-us-section {
    margin-bottom: 1rem;
  }
}