.total-myth-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 equal-width columns */
  gap: 20px; /* Gap between grid items */
  padding: 20px 0;
  justify-items: center; /* Center items horizontally */
}

.pantheon-display {
  display: flex;
  flex-direction: column;
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.symbols-display {
  margin-left: 20px;
  font-style: italic;
}

.other-gods-display {
  background: #eef7f4;
  padding: 10px;
  border-left: 4px solid #009688;
  margin-bottom: 15px;
}

.header-main {
  display: flex;
  flex-direction: row;
  background-color: grey;
  align-items: center;
  justify-content: center;
}

.header-div {
  cursor: pointer;
  padding: 15px;
}

.footer-main {
  display: flex;
  flex-direction: row;
  background-color: grey;
  align-items: center;
  justify-content: center;
}

.footer-div {
  cursor: pointer;
  padding: 15px;
}

.login-main {
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form-question {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
}

.login-form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0px;
}

.login-button {
  padding: 12px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: antiquewhite;
  margin: 20px;
  margin-top: 0px;
}

.login-form-label {
  padding-right: 5px;
}

.register-main {
  background-color: #b49a9a;
  display: flex;
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0px;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #dfd6d6;
  padding: 20px;
  border: 2px solid #007bff;
}

.register-form-question {
  display: flex;
  flex-direction: column;
}

.register-form-label {
  font-size: 14px;
  color: #333333;
  margin-bottom: 5px;
}

.register-form-buttons {
  display: flex;
  justify-content: space-between;
}

.register-button {
  padding: 12px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}
