@import "./components/InfoComponents/AboutUs.css";
@import "./components/InfoComponents/Contact.css";
@import "./components/InfoComponents/LearnMore.css";
@import "./components/headerComponent/HeaderComponent.css";
@import "./components/footerComponent/FooterComponent.css";
@import "./components/MythComponents/MythComponent.css";
@import "./components/MythComponents/PantheonComponent.css";
@import "./components/UserComponents/LoginComponent.css";
@import "./components/UserComponents/RegisterComponent.css";
@import "./components/UserComponents/SettingsComponent.css";

.outlet-min-height {
  min-height: 85vh;
  display: flex;
  flex-direction: column;
}





