.login-main {
  background-color: #f4f4f9;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 1rem;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 90%;
  max-width: 400px;
  justify-content: center;
  align-items: center;
}

.login-form-question {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  box-sizing: border-box;
}

.login-form-buttons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.login-error {
  color: red;
  margin-bottom: 1rem;
  font-weight: bold;
}

.login-button {
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: antiquewhite;
  width: 100%;
}

.login-form-label {
  padding-right: 0.5rem;
}

.login-form-input {
  width: 100%;
  height: 2rem;
  font-size: 1rem;
  padding: 0.3rem;
  box-sizing: border-box;
}

@media (min-width: 768px) {
  .login-form-buttons {
    flex-direction: row;
    justify-content: space-between;
  }

  .login-button {
    width: auto;
    padding: 1rem 2rem;
    font-size: 1.5rem;
  }

  .login-form-question {
    font-size: 2rem;
    padding: 2rem;
  }

  .login-form-input {
    width: 20rem;
    font-size: 1.5rem;
  }
}
