.register-main {
  background-color: #b49a9a;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.register-img-container {
  width: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.register-img {
  width: 100%;
  max-height: 50rem;
  object-fit: cover;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #dfd6d6;
  padding: 15px;
  border: 2px solid #007bff;
  width: 100%;
  box-sizing: border-box;
}

.register-form-question {
  display: flex;
  flex-direction: column;
}

.register-error {
  color: red;
  margin-bottom: 1rem;
  font-weight: bold;
}

.register-form-label {
  color: #333333;
  margin-bottom: 5px;
  font-size: 1rem;
}

.register-form-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.register-button {
  padding: 10px;
  font-size: 14px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  text-align: center;
}

@media (min-width: 768px) {
  .register-main {
    flex-direction: row;
    padding: 40px;
  }

  .register-img-container {
    margin: 0 5rem;
    height: 100%;
    width: auto;
  }

  .register-img {
    max-height: 95vh;
    height: 95vh;
  }

  .register-form-buttons {
    flex-direction: row;
    justify-content: space-between;
  }

  .register-form-label {
    font-size: 1.2rem;
  }

  .register-form {
    padding: 20px;
  }
}
