.settings-standard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 85vh;
  padding: 1rem;
}

.settings-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.8rem;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.settings-main {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  max-width: 100%;
  width: 90%;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
}

.settings-parameter-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.settings-parameter-form {
  display: flex;
  flex-direction: column;
  background-color: #7a7a558e;
  padding: 15px;
  justify-content: center;
}

.settings-element {
  margin-right: 10px;
  font-size: 1.2rem;
}

.settings-buttons-div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 1.5rem;
}

.settings-button {
  font-size: 1rem;
  padding: 0.6rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #b49a9a;
  color: white;
}

@media (min-width: 768px) {
  .settings-standard {
    padding: 2rem;
  }

  .settings-form {
    max-width: 500px;
    padding: 2rem;
  }

  .settings-main {
    max-width: 500px;
    width: 70%;
    margin: 5rem auto;
    padding: 2rem;
    font-size: 1.2rem;
  }

  .settings-parameter-form {
    flex-direction: row;
  }

  .settings-buttons-div {
    flex-direction: row;
    justify-content: space-between;
  }

  .settings-button {
    font-size: 1.2rem;
  }
}
